@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.Products {
  margin: 20px 0px 60px 0px;
  font-family: "Nunito", sans-serif;
}

.Products .products-title h3 {
  font-size: 20px;
  color: black;
  font-weight: 900;
}

.Products .products-title hr {
  border: none;
  height: 5px;
  background-color: #C0C0C0;
  margin: 0;
  width: 45px;
  opacity: 100;
}

.Products .products-title{
  margin-bottom: 20px;
}

.Products .product-card {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.Products .card-info {
  min-height: 107px;
}

.Products .product-card .product-image {
  width: 90%;
  margin-bottom: 10px;
}

.Products .product-card .product-name {
  font-size: 12px;
  line-height: 16.37px;
  font-weight: 600;
  color: #7A7A7A;
  text-align: center;
}

.Products .product-card .product-stars {
  color: #F8475F;
  text-align: center;
}

.Products .product-card .product-list-price {
  min-height: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
  color: #7A7A7A;
  text-align: center;
}

.Products .product-card .product-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  color: #000000;
  text-align: center;
}

.Products .product-card .product-installments {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  color: #7A7A7A;
  text-align: center;
}

.slick-dots {
  position: absolute;
  list-style: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button {
  font-size: 10px;
  width: 10px;
  height: 10px;
  border: none;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #f8475f;
}

.slick-dots li button:before {
  display: none;
}

.slick-arrow {
  display: none !important;
}

.buy-button{
  color: white;
  background: black;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  line-height: 17.59px;
  padding: 10px 50px;
  font-weight: 500;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.buy-button:hover{
  background-color: #333333;
}

@media (min-width: 1023px) {
  .slick-dots li button {
    display: none;
  }

  .slick-track{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    display: block !important;
  }

  .slick-prev {
    left: -50px;
  }

  .slick-next {
    right: -50px;
  }

  .buy-button {
    display: none;
    transition: opacity 0.1s ease;
  }

  .product-card:hover .buy-button {
    display: block; 
    opacity: 1;
  }

  .Products .product-card {
    transition: background-color 0.3s;
    margin-bottom: 0;
  }

  .product-card:hover {
    background-color: #E6E8EA;
    padding-bottom: 20px;
    border-radius: 20px;
  }

  .Products .product-card .product-image {
    width: 100%;
  }

  .Products .product-card .product-list-price{
    height: 20px;
  }

  .slick-initialized .slick-slide{
    min-height: 425px;
  }
}