@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.Navbar {
    padding: 10px 0;
    font-family: "Nunito", sans-serif;
    display: block;
    width: 100%;
    margin-top: 10px;
    top: -10px;
    position: fixed;
    z-index: 100;
    background-color: white;
}

.NavbarWeb {
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-item.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-search {
    flex: 1;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img {
    width: 50%;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cart span {
    font-size: 10px;
    line-height: 13.64px;
    font-weight: 700;
    background: #F8475F;
    color: white;
    padding: 6px 7px;
    border-radius: 15px;
}

.cart img {
    cursor: pointer;
}

.search .input-search {
    width: 100%;
}

.my-account {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 30px 15px;
}

.my-account p {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17.73px;
}



@media (min-width: 769px) {
    .logo {
        justify-content: flex-start;
    }

    .nav-row {
        padding: 15px 0;
    }

    .my-account {
        padding: 0;
    }

    .nav-item.search {
        width: 50%;
    }

    .nav-item.user {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .NavbarWeb .my-account p {
        margin: 0;
        font-family: "Nunito", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 17.73px;
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .nav-item.search {
        padding-right: 40px;
    }

    .nav-item.user {
        gap: 17px;
    }
}