.Navbar{
    padding: 10px 0;
}

.Navbar{
    display: block;
    width: 100%;
    margin-top: 10px;
}

.nav-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-item.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .input-search {
    flex: 1;
  }
  
  .search-icon {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    pointer-events: none;   
  }

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img{
    width: 50%;
}

.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cart span{
    background: red;
    color: white;
    padding: 0px 7px;
    border-radius: 10px;
}

.search .input-search{
    width: 100%;
}

.my-account{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 30px 15px;
}



@media (min-width: 769px) {
    .logo{
        justify-content: flex-start;
    }
    .nav-row{
        padding: 15px 0;
    }

    .my-account{
        padding: 0;
    }

    .nav-item.search{
        width: 50%;
    }

    .nav-item.user{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1400px) {
    .nav-item.search{
        padding-right: 40px;
    }
    .nav-item.user{
        gap: 17px;
    }
  }
